{* GRAY:CMS - Template by Ondřej Dočkal *}

{block content}
<div class="panel panel-default">
    <div class="panel-heading" n:block="title">{$item->title}</div>
    <div class="panel-body">
        Panel content
    </div>
</div>